<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Mongo Database Results</h2>

<table>
	<tr><th>Song Name</th><th>Song Artist</th><th>Song Decade</th><th>Weeks as #1</th></tr>
    <% results.forEach(function(r) { %>
        <tr><td><%= r.song %></td>
        <td><%= r.artist %></td>
        <td><%= r.decade %></td>
        <td><%= r.weeksAtOne %></td></tr>
    <% }); %>
</table>

</div>

</body>
</html>
